<div class="articles-container">
  <div class="search-section">
    <div class="search-wrapper">
      <input 
        type="text" 
        placeholder="Search articles..." 
        class="search-bar"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
      >
      <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </div>

    <div class="filter-section">
      @for (theme of themes; track theme) {
        @if (theme !== 'All') {
          <button 
            class="filter-rect" 
            [class.active]="selectedTheme() === theme"
            (click)="setTheme(theme)">
            {{ theme }}
          </button>
        }
      }
    </div>
  </div>
  <div class="masonry-grid">
    <div class="side-stories">
      @for (article of sideArticles(); track article.id) {
        <div class="side-item">
          <div class="side-container">
            <img [src]="article.image" class="side-img">
          </div>
          <span class="side-theme">{{ article.keywords}}</span>
          <h4>{{ article.title }}</h4>
          <span class="side-date">{{ article.date }}</span>
        </div>
      }
    </div>
    <div class="main-column" *ngIf="mainArticle()">
      <div class="main-article-border">
        <div class="headline-article">
          <div class="main-container">
            <img [src]="mainArticle().image" class="main-img">
          </div>
          <h1>{{ mainArticle().title }}</h1>
          <p class="description">{{ mainArticle().description }}</p>
          <p class="date">{{ mainArticle().date }}</p>
        </div>
      </div>
    </div>

    <div class="text-only-list">
      @for (article of listArticles(); track article.id) {
        <div class="list-item">
          <h3>{{ article.title }}</h3>
          <span class="list-date">{{ article.date }}</span>
        </div>
      }
    </div>
  </div>
</div>